.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.url
**/*.zip
**/*.vsix
**/*.test.*
.secrets
.secrets/**
.github/**
biome.jsonc
vitest.config.js
vsix/logo-large.png
**/*.ebnf
.yarnrc.yml
.yarn/**